go 1.26.3

use (
	"./2 - slices-arrays-ponteiros/2.1-introducao"
	"./2 - slices-arrays-ponteiros/2.2-copia-simples"
	"./2 - slices-arrays-ponteiros/2.3-deep-copy"
	"./2 - slices-arrays-ponteiros/2.4-ponteiros"
	"./2 - slices-arrays-ponteiros/2.5-deep-copy-com-ponteiros"
	"./2 - slices-arrays-ponteiros/2.6-map-filter-reduce"
	./1-hello-word
	./3-maps/3.1-introducao
	./3-maps/3.2-race-condition
	./3-maps/3.3-mutex
	./3-maps/3.4-sync-map
	./3-maps/3.5-cache-com-mutex
	./3-maps/3.6-cache-com-sync-map
	./4-channels/4.1-introducao
	./4-channels/4.2-channels-com-buffer
	./4-channels/4.3-direcoes
	./4-channels/4.4-error-group
	./4-channels/4.5-fan-out-fan-in
	./4-channels/4.6-pipeline
	./4-channels/4.7-select
	./4-channels/4.8-desafio-agendador-de-tarefas
	./4-channels/4.9-desafio-broadcast
	./5-sinc-advanced/5.1-RWMutex
	./5-sinc-advanced/5.2-once
	./5-sinc-advanced/5.3-cond
	./5-sinc-advanced/5.4-cond-connection-pool
	./5-sinc-advanced/5.5-cond-broadcast
	./5-sinc-advanced/5.6-pool
	./5-sinc-advanced/5.7-pool-comparative
	./5-sinc-advanced/5.8-atomic
	./5-sinc-advanced/5.9-atomic-x-mutex-comparative
	./6-interfaces-e-tipos-dinamicos/6.1-introducao
	./6-interfaces-e-tipos-dinamicos/6.2-interface-vazia
	./6-interfaces-e-tipos-dinamicos/6.3-reflect
	./6-interfaces-e-tipos-dinamicos/6.4-reflect-x-casting
)
