go 1.26.3

use (
	"./2 - slices-arrays-ponteiros/2.1-introducao"
	"./2 - slices-arrays-ponteiros/2.2-copia-simples"
	"./2 - slices-arrays-ponteiros/2.3-deep-copy"
	"./2 - slices-arrays-ponteiros/2.4-ponteiros"
	"./2 - slices-arrays-ponteiros/2.5-deep-copy-com-ponteiros"
	"./2 - slices-arrays-ponteiros/2.6-map-filter-reduce"
	./1-hello-word
	./3-maps/3.1-introducao
	./3-maps/3.2-race-condition
	./3-maps/3.3-mutex
	./3-maps/3.4-sync-map
	./3-maps/3.5-cache-com-mutex
	./3-maps/3.6-cache-com-sync-map
	./4-channels/4.1-introducao
	./4-channels/4.2-channels-com-buffer
	./4-channels/4.3-direcoes
)
